{% extends '_base.html' %}
{% block content %}
<div class="decision-container">
    <h2>{{offering.job_title}}</h2>
    <h3>{{offering.organization}}</h3>
    <h4>Date de première publication: {{offering.first_publication_date}}</h4>
    <div>
        <ul>
            <li><b>languages:</b> {{offering.languages}}</li>
            <li><b>job_type:</b> {{offering.job_type}}</li>
            <li><b>specialization:</b> {{offering.specialization}}</li>
            <li><b>employer:</b> {{offering.employer}}</li>
            <li><b>category:</b> {{offering.category}}</li>
            <li><b>management:</b> {{offering.management}}</li>
            <li><b>full_time:</b> {{offering.full_time}}</li>
            <li><b>remote_work:</b> {{offering.remote_work}}</li>
            <li><b>job_duration:</b> {{offering.job_duration}}</li>
            <li><b>job_status:</b> {{offering.job_status}}</li>
            <li><b>education_level:</b> {{offering.education_level}}</li>
            <li><b>contract_duration:</b> {{offering.contract_duration}}</li>
            <li><b>contract_type:</b> {{offering.contract_type}}</li>
            <li><b>location:</b> {{offering.location}}</li>
            <li><b>location_without_geo:</b> {{offering.location_without_geo}}</li>
            <li><b>job_location:</b> {{offering.job_location}}</li>
            <li><b>jo_publication:</b> {{offering.jo_publication}}</li>
            <li><b>skills_required:</b> {{offering.skills_required}}</li>
            <li><b>documents_required:</b> {{offering.documents_required}}</li>
            <li><b>job_vacancy_date:</b> {{offering.job_vacancy_date}}</li>
            <li><b>min_experience_level:</b> {{offering.min_experience_level}}</li>
            <li><b>default_publication_end_date:</b> {{offering.default_publication_end_date}}</li>
            <li><b>default_publication_start_date:</b> {{offering.default_publication_start_date}}</li>
            <li><b>levels:</b> {{offering.levels}}</li>
            <li><b>versant:</b> {{offering.versant}}</li>
        </ul>
    </div>

</div>
{% endblock %}